<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/assets/script.js"></script>
    <title>Aufgabe 2</title>
</head>

<body class="container">
    <div class="tts-controls">
        <!-- TODO: Your code from aufgabe_1.html goes here -->
    </div>
    <div class="tts-content">
        <h1>Studienverlaufsplan Schwerpunkt Weaving the Web</h1>
        <p>
            Der Studienverlaufsplan zeigt den Aufbau des Studiums, sprich: welches Modul kommt wann und wie bauen die
            einzelnen Elemente aufeinander auf. Der Studienverlaufsplan ist als Konzept und Empfehlung zu verstehen.
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Semester</th>
                    <th scope="col">Name</th>
                    <th scope="col">Creditpoints</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semester-number" rowspan="4">1</td>
                    <td>Spezielle Gebiete der Mathematik</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Web Architekturen</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Sicherheit, Privatsphäre und Vertrauen</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Projekt 1: Konzept</td>
                    <td class="credit-points">12</td>
                </tr>
                <tr>
                    <td class="semester-number" rowspan="4">2</td>
                    <td>Computerethik</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Research Methods</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Web Technologien</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Projekt 2: Entwicklung</td>
                    <td class="credit-points">12</td>
                </tr>
                <tr>
                    <td class="semester-number" rowspan="4">3</td>
                    <td>Wahlpflichtmodul</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Wahlpflichtmodul</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Wahlpflichtmodul</td>
                    <td class="credit-points">6</td>
                </tr>
                <tr>
                    <td>Projekt 3: Evaluation</td>
                    <td class="credit-points">12</td>
                </tr>
                <tr>
                    <td class="semester-number">4</td>
                    <td>Master Thesis inkl. Kolloqium</td>
                    <td class="credit-points">30</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>